
.card{
    text-align: center;
    border: none;
    width: 500px;
    padding: 0px;
    padding-bottom: 1%;
    position:absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%); 
    background-color: #FFFACD;
} 

.btn btn-primary{ 
    padding: 50px;

}
.text-center{
    text-align: center;
    background-color:rgb(141, 147, 217);
    padding-top: 1%;  
    margin-top: -5%
}

.mb-3{
    padding: 20px;

    /* text-align: center; */

}
.form-check{
    padding: 1%;
}

.text-link{
    color:white;
}
.main-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin-bottom: 140px; 
  }
 