
  <div class="container">
    <div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="text-center"> 
                <p class="p"> Login <br>  Please enter email & password! </p>
            </div>    
            <form>                   
                <div class="mb-3">
                  <label   style="color: white" for="exampleInputEmail1" class="form-label" > Email address </label> <br>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label  style="color: white" for="exampleInputPassword1" class="form-label"> Password </label> <br>                 
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label  style="color: white" class="form-check-label" for="flexCheckDefault">
                    Remember me
                  </label>
                </div>
                <button type="button" class="btn btn-primary mb-2" (click)="onSubmit()"> SUBMIT</button>
              </form>
              <div>             
              <a style="color: white;  margin-top: 10px;"    routerLink="/signup" >New Account? Register!</a>   
            </div> 
                  </div>
          </div>
          </div>
    </div>
    



