<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="text-center">
            <p class="p"> Please Enter Email & Password! </p>
          </div>
          <form [formGroup]="loginform" (ngSubmit)="login()">
            <div class="mb-3">
              <!-- <label   style="color: white" for="exampleInputEmail1" class="form-label" > Email_address </label> <br> -->
              <input placeholder=" Email" formControlName="email" type="email" class="form-control"
                id="exampleInputEmail1" aria-describedby="emailHelp">
              <span class="text-danger"
                *ngIf="loginform.get('email')?.hasError('required') && loginform.get('email')?.touched">Required</span>
            </div>
            <div class="mb-3">
              <!-- <label  style="color: white" for="exampleInputPassword1" class="form-label"> Password </label> <br>                  -->
              <input placeholder="Password" formControlName="password" type="password" class="form-control"
                id="exampleInputPassword1">
              <span class="text-danger"
                *ngIf="loginform.get('password')?.hasError('required') && loginform.get('password')?.touched">Required</span>
            </div>
            <!-- <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label  style="color: white" class="form-check-label" for="flexCheckDefault">
                    Remember me
                  </label>
                </div> -->
            <button type="submit" class="btn btn-secondary mb-2">Login</button>
          </form>
          <div>
            <a style="color: rgb(141, 147, 217);  margin-top: 10px;" routerLink="/signup">New Account? Please
              Register!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>