

<!-- τίτλος και μέτρημα προιόντων μέσα στο καλάθι -->
<div>
  <h1>Total Quantity in Cart: {{ getTotalQuantity() }}</h1>
</div>

<!-- Κουμπι για να πας στο order page -->
<button (click)="goToOrder()">Go to Order</button>















<!-- 
@for( item of cartService.getItems(); track item.id){
<div class="cart-item">
</div>

} -->

<!-- <p>Price: {{ item.price }}</p>
  <p>Quantity: {{ item.Quantity }}</p>
  <button (click)="deleteFromCart(item)">Delete</button> 
  <button (click)="cartService.incrementQuantity(item.id)">+</button>
</div> -->
