.error-container {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h1 {
    color: #ffc107;
  }
  
  p {
    color: #333;
  }
  
  a {
    color: #007bff;
    text-decoration: underline;
  }
  