.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px; /* Adjust the max-width based on your design preference */
}

.card {
  transition: transform 0.3s;
  width: 100%; /* Set the desired width for the card, can be in pixels or percentage */
  max-width: 400px; /* Set a maximum width if needed */
  margin: 0 auto; /* Center the card within its parent */
}

.card:hover {
  transform: scale(1.05);
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f8f9fa;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
