<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="mb-4">Delivery Options</h1>

      <div class="form-check" *ngFor="let delivery of deliveryArr">
        <input class="form-check-input" type="radio" name="delivery" value="{{delivery.value}}" (change)="onChangeDelivery($event)" required>
        <label class="form-check-label">{{delivery.value}}</label>
      </div>

      <hr class="my-4"> <!-- Added line for separation -->

      <h1 class="mt-4">Selected Products</h1>
      <div *ngFor="let product of productsInfo">
        {{product.name}}
      </div>

      <hr class="my-4"> <!-- Added line for separation -->

      <h1 class="mt-4">Payment Options</h1>
      <div class="form-check" *ngFor="let payment of paymentArr">
        <input class="form-check-input" type="radio" name="payment" value="{{payment.value}}" (change)="onChangePayment($event)" required>
        <label class="form-check-label">{{payment.value}}</label>
      </div>

      <hr class="my-4"> <!-- Added line for separation -->

      <button type="button" class="btn btn-primary mt-4" data-bs-toggle="modal" data-bs-target="#orderInfoModal" (click)="sendOrder()" [disabled]="!isDeliveryAndPaymentSelected()">Send Order</button>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="orderInfoModal" tabindex="-1" aria-labelledby="orderInfoModalLabel" aria-hidden="true" (hidden.bs.modal)="routingCountdown()">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="orderInfoModalLabel">Thank you!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div *ngIf="deliveryOption == 'Delivery'; then thenBlock else elseBlock"></div>
      </div>
      <div class="modal-footer" (click)="routingCountdown()">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<ng-template #thenBlock>Your order will be delivered to you at {{deliveryTime | date:"HH:mm"}}!</ng-template>
<ng-template #elseBlock>Your order will be ready for pick up at {{deliveryTime | date:"HH:mm"}}!</ng-template>
