<div class="main-container">

  <div style="display: flex; justify-content: center; align-items: center; height: 50vh; margin-top: 50px">
    <div *ngIf="deliveryTime">
      <!-- {{ orderTime | date:"HH:mm" }}
      {{ deliveryTime | date:"HH:mm" }}
       -->
      <div *ngIf="minutesLeft >= 0; then thenBlock else elseBlock"></div>
    </div>

    <div style="display: flex; justify-content: center; align-items: center;">
      <ng-template #thenBlock>
        <div class="delivery-info">
        <p class="mb-4 font-weight-bold text-uppercase">Order will be deliver in</p>
        <div class="digital-clock-frame">
          <div class="digital-clock">
            <span class="digit">{{ minutesLeft }} :</span> 
            <span class="digit">{{ secondsLeft }}</span>
          </div>
        </div>
      </div>

        <div style="margin-top: 50px ; margin-bottom: 100px">
          <img src="../assets/images/delivery_truck.jpg" alt="Bouncing Image" class="bouncing-image" width="200px"
            height="180px">
        </div>
      </ng-template>

      <ng-template #elseBlock>
        <p>fai etoimo</p>
        <img src="../assets/images/arrival.png" alt="" width="200px" height="150px">
      </ng-template>
    </div>
  </div>
</div>